@font-face {
    font-family: sofia-sans;
    src: url(Assets/SofiaSansExtraCondensed-VariableFont_wght.ttf);
}
@font-face {
    font-family: sofia-sans-italic;
    src: url(Assets/SofiaSansExtraCondensed-Italic-VariableFont_wght.ttf)
}
.navbar {
    padding:10px 50px;
    margin-bottom: 30px;
}

.navbar ul {
    display: inline;
    padding: 15px 50px;
}

.navbar li {
    margin: 0px 23px;
    list-style-type: none;
    display: inline;
}

.navbar a:hover {
    color:rgb(255, 62, 178);
}
.navbar a:active {
    color: black;
    text-decoration: underline 2px rgb(255, 62, 178);
}
.navbar a {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: grey;
}
.navbar img {
    float: inline-end;
    padding-top: 30px;
}
.cart-btn {
    background: none;
    border: none;
    margin: none;
    padding: none;
}
 .first-section {
    margin-top: 20px;
    background-color: rgb(237 237 237);
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 30px;
 margin: -8px;
 }
 .first-section-info {
    color: rgba(0, 0, 0, 0.788);
    width: 50%;
    padding-left: 110px;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
 }
 .first-section-info h2{
    padding-right: 100px;
    font-weight: 100;
font-size: 54px;
 }
 .first-section-info p {
     font-size:22px ;
     padding-right: 170px;
     margin-top: -15px;
 }
.first-section-img {
     padding-right: 20px;
}
.second-section {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     padding: 50px 80px;
     margin: -8px;
     font-family: Arial, Helvetica, sans-serif;
}
.second-section-img {
     padding: 10px 40px
}
.second-section-img img {
     border-radius: 220px;
     box-shadow:  0 0 45px rgba(128, 128, 128, 0.753);
     padding: 0px;
}
.second-section-box {
     padding: 10px 30px;
}
.second-section-box div {
    border-radius: 5px;
     border: 2px dashed  rgba(0,171,209,1);
     color: rgba(0,171,209,1);
width: 90px;
height: 90px;
padding: 10px;
     margin: 30px 0px;
     text-align: center;
     text-transform: uppercase;
}
.second-section-box h1 {
     font-size: 25px;
     font-weight: bolder;
}
.second-section-box p {
    font-size: 9px;
    margin: 0px;
    margin-top: -20px;
    font-weight: bold;
    padding: 0px 10px;
}
.second-section-info {
padding:  10px 30px
}
.second-section-info h1{
    letter-spacing: 0.01rem;
    line-height: 3rem;
    font-size: 55px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.788);
}
.second-section-info p {
    text-align: justify;
    margin-top: -20px;
    line-height: 1.3rem;
    color: rgba(0, 0, 0, 0.774);
    font-size: 15px;
    font-weight: 600;
}
.second-section-info button {
     text-transform: uppercase;
     background-color: rgba(0,171,209,1);
     border: none;
     border-radius: 25px;
     height: 45px;
     width: 150px;
     color: white;
     font-size: 13px;
     margin-top: 50px;
}
.third-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: -5px -8px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(237 237 237);
    padding: 20px 0px 40px 0px;
}
 .third-section-info {
padding: 0px 35px 0px 110px;
}
.third-section-info h1 {
    letter-spacing: 0.01rem;
    line-height: 3rem;
    font-size: 55px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.788);
}
.third-section-info p {
    word-spacing: 0.01rem;
    text-align: justify;
    margin-top: -20px;
    line-height: 1.3rem;
    color: rgba(0, 0, 0, 0.555);
    font-size: 15px;
    font-weight: 600;
}
.third-section-img {
    padding: 10px 20px 10px 0px;
}
.fourth-section {
    display: flex;
    flex-direction: row; 
    justify-content: space-around; 
    margin: -20px -8px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(237 ,237 ,237);
    text-align: justify;
    padding: 10px 0px;
}
.fourth-section-heading h1{
    position: absolute;
    left: -120px;
margin-top: 380px;
   font-weight: bold;
   font-size: 120px;
    rotate: -90deg;
    color: rgba(0, 0, 0, 0.822);
}
.fourth-section-info {
    width: 72%;
    border: 3px dashed rgba(0, 0, 0, 0.76);
    border-radius: 25px;
    margin: 50px 20px 50px 60px;
    padding: 40px 40px;
}
.fourth-section-info h2 {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.774);
}

.fourth-section-info h1 {
    color: rgba(0,171,209,1);
    font-size: 18px;
    margin-bottom: -15px;
    margin-top: 35px;
}
.fourth-section-info p {
     font-size: 15px;
    font-weight: 600;
     color:  rgba(0, 0, 0, 0.555);
}
.fifth-section {
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    padding: 60px;
    text-align: justify;
}
.fifth-section h1 {
    letter-spacing: 0.01rem;
    line-height: 3rem;
    font-size: 58px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.788);
}
.fifth-section p {
    text-align: justify;
    font-size: 15px;
    font-weight: 600;
     color:  rgba(0, 0, 0, 0.555);
}
.sixth-section {
    font-family: Arial, Helvetica, sans-serif;
    margin: -20px 50px;
    padding: 0px 60px 80px 60px;
    text-align: justify;
}
.sixth-section h1 {
    letter-spacing: 0.01rem;
    line-height: 3rem;
    font-size: 60px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.89);
}
.sixth-section p {
    text-align: justify;
    font-size: 15px;
  font-weight: 600;
     color:  rgba(0, 0, 0, 0.596);
     line-height: 1.15rem;
}
.seventh-section {
    font-family: Arial, Helvetica, sans-serif;
    margin: -45px 0px;
    padding: 20px 60px 0px 60px;
    text-align: center;
    background-image: linear-gradient( rgb(237 ,237 ,237), white);
}
.seventh-section h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.849);
}
.seventh-section p {
    font-size: 15px;
    font-weight: 600;
       color:  rgba(0, 0, 0, 0.664);
       line-height: 1.27rem;
       margin-top: -30px;
}
.seventh-section-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0px;
}
.cards-section {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}
.card{
width: 330px;
margin: 15px;
}
.card div {
    height: 300px;
    width: 350px;
}
.card h1 {
    font-size: 32px;
    font-weight: bolder;
}
.card h2 {
    margin-top: -25px;
    font-size: 23px;
}
.card h3 {
    margin-top: -20px;
    font-size: 19px;
    font-weight: 300;
}
.card p {
    margin-top: -15px;
    height: 55px;
    font-weight: 600;
    font-size: 13px;
}
.card button {
    height: 45px;
    width: 140px;
    border:2px solid rgba(141, 140, 140, 0.795);
    background: none;
    border-radius: 25px;
    font-weight: 600;
    color:  rgba(141, 140, 140, 0.795);
    font-size: 13px;
}
.card button:hover {
cursor: pointer;
}
.card button:active {
    background: rgba(141, 140, 140, 0.795);
    color: black;
}
.eighth-section {
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    padding: 20px 80px 20px 40px;
}
.eighth-section h1 {
     color: rgba(0,171,209,1);
     font-size: 23px;
     font-weight: bold;
}
.eighth-section li {
    line-height: 2.4rem;
    color: rgba(0, 0, 0, 0.664);
    font-weight: 600;
    font-size: 15px;
    margin-left: -10px;
}
.ninth-section {
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    margin-top: -40px;
    padding: 0px 0px 20px 40px;
}
.ninth-section h1{
    color: rgb(255, 62, 178);
    font-size: 55px;
    font-weight: bold;
    letter-spacing: -2px;
    margin: 0px 0px 5px 20px;
}
.ninth-section div { 
    height: 20px;
    width: 90%;
    border: 1px solid rgba(0, 0, 0, 0.61);
    border-radius: 12px;
    margin: 10px 15px;
    padding: 15px 30px;
    color: rgba(0, 0, 0, 0.493);
    font-weight: 600;
    font-size: 15px;
}
.contact-section {
    background-color: rgb(237 ,237 ,237);
    width: 80%;
  margin: 10px auto;
  padding: 50px 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.596);
}
.contact-section .radio {
     margin-right: 10px;
}
.contact-section p{
    margin: 30px 10px 5px 0px;
    font-size: 14px;
    font-weight: 600;
}
.contact-section .input {
    width: 400px;
    height: 42px;
    border-radius: 13px;
    border: 1px solid rgba(0, 0, 0, 0.493);
    padding-left: 20px;
}
.contact-section h2 {
    margin: 25px 10px 5px 10px;
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.61);
}
.submit-btn {
    background-color: rgba(0,171,209,1);
    color: white;
    width: 400px;
    height: 50px;
    text-align: center;
border: none;
border-radius: 15px;
font-size: 15px;
margin-top: 30px;
margin-left: 20px;
}
.last-section {
    margin: -150px -8px -8px -8px;
     background-color: rgba(0,171,209,1);
     height: 180px;
     padding: 100px 20px 50px 20px;
     position: relative;
  z-index: -1;
  border-radius: 95px 95px 0px 0px;
}
.last-section h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    font-weight: 600;
color: white;
text-align: center;
margin-top: 120px;
}